.containerDemo{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(./Crowd-bg.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,1);
  background-blend-mode: luminosity;
}

.displayContainer{
  display: flex;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  gap:30px;
}

.key{
  white-space: nowrap;
  min-width:80px;
  aspect-ratio: 1;
  border: 1px solid var(--secondary-accent-clr);
  border-radius: 8px;
  outline: 3px solid var(--primary-bg-clr);
  text-align: center;
  transition: all 0.5s;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
}
.key:hover{
  cursor: pointer;
}
.key h2{
  text-shadow: 2px 2px 5px black;
}
.key span{
  text-shadow: 2px 2px 5px black;
  color:var(--secondary-accent-clr);
}
.playing{
  transform: scale(1.1);
  color:var(--primary-accent-clr);
  border-color: black;
  background-blend-mode: darken;
  box-shadow: 0 0 10px var(--primary-bg-clr);  
}

.playing span{
  color:#fff;
}
