@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500&display=swap');

:root{
  --main-font: 'Prompt', sans-serif;
  --primary-bg-clr: #441151;
  --primary-accent-clr: #883677;
  --secondary-accent-clr: #CA61C3;
  --background-dark: rgba(10,0,11,1)
}
body{
  background-color: var(--background-dark);
}